
body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.inner {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  margin-top: 100px;
  width: 800px;
  height: 1000px;
}

.img-frame {
  box-sizing: border-box;
  border: 2px solid black;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

img {
  height: 100%;
}


input {
  width: 400px;
  height: 35px;
  cursor: pointer;
}

button {
  width: 400px;
  height: 40px;
  cursor: pointer;
  &:hover {
    background-color: lightgrey;
  }
}